<footer>
      <nav class="navbar fixed-bottom navbar-dark bg-dark">
        <nav>
          <ul>
              <li><a href="/index">Home</a></li>
              <li><a href="/about">About Me</a></li>
              <li><a href="/products">Projects</a></li>
              <li><a href="/contact">contact</a></li>
              <li><a href="/services">services</a></li>
          </ul>
      </nav>
    <h6 class="display-6 navbar-text">&copy;301303362 Cheng Ho Lam All rights reserved</h6>
    </div>
    </nav>
  </footer>
