<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="/@fortawesome/fontawesome-free/css/all.min.css"
    />

    <style>
      li {
        color: #fbf7f7;
      }
      /* Keep specific images in color and adjust size */
      img.color-photo {
        filter: none; /* Remove grayscale for this image */
        max-width: 50%; /* Adjust the width as needed */
        height: auto; /* Maintain aspect ratio */
      }
      /* Reset some default styles */
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      /* Apply black and white color scheme */
      body {
        background-color: #fff; /* White background */
        color: #000000; /* Black text */
        font-family: Arial, sans-serif; /* Change the font-family as needed */
        font-size: 16px; /* Adjust the base font size as needed */
      }

      /* Modify headings font size */
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-size: 24px; /* Adjust heading font sizes as needed */
      }

      /* Apply grayscale to images and set max-width */
      img {
        filter: grayscale(100%);
        max-width: 100%; /* Ensure images don't exceed their container's width */
        height: auto; /* Maintain aspect ratio */
      }

      /* Style the jumbotron */
      .jumbotron {
        text-align: center;
        padding: 20px;
      }

      /* Style links */
      a {
        color: #757575; /* Black links */
        text-decoration: none; /* Remove underline */
      }

      /* Style the navbar */
      .navbar {
        background-color: #000; /* Black navbar background */
      }

      .navbar-brand {
        color: #fff; /* White navbar text */
      }

      .navbar-toggler-icon {
        background-color: #fff; /* White navbar toggler icon */
      }

      .navbar-nav .nav-link {
        color: #fff; /* White navbar links */
      }

      /* Style the footer */
      footer {
        background-color: #343a40;
        color: #fff;
        padding: 0%;
        margin: 0%;
      }

      footer .navbar-text {
        margin-bottom: 10;
        font-size: medium;
      }
    </style>
  </head>
  <body></body>
</html>
